<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      RSS Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
  ></ion-searchbar>
  <ion-item *ngFor="let feed of feeds" (click)="openModal(feed)">
    <ion-avatar slot="start">
      <img [src]='feed.image'>
    </ion-avatar>
    <ion-label>
      <p>{{ feed.publicationDate }}</p>
      <h2>{{ feed.title }}</h2>
      <p [innerHTML]='feed.text | slice:0:500'></p>
    </ion-label>
  </ion-item>
</ion-content>
